/* GENERAL */

* {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Fugaz One', cursive;

}

body {
    background-color: white;
    padding: 0;
    margin: 0;
}

/* CABECERA */


.header{
    background-color: #1b3039;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.header .logo{
    cursor: pointer;
    margin-right: auto;
}

.img .logodeuna {
    display: block;
    margin: 0 auto;
  }

.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
    padding: 0;
    margin: 0;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;    
}

.logodeuna{
    display: flex;
    width: 10rem;
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .nav-links a{
    font-size: 25px;  
    color: #eceff1;
    text-decoration: none;  
    display: flex;  
}

.header .nav-links li a:hover{
    color: #764284;
}

.header .btn button{
    margin-left: 20px;
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
    width: auto;
    margin: 0;
}

.header .btn button:hover{
    background-color: #e2f1f8;
    color: #764284;
    transform: scale(1.5);
}

/* otra cosa */


.cabeza .nav-links li {
        display: block;
        padding: 10px 0;
        text-align: center;
        background-color: black;
    }


.div .travis{
    width: auto;
    height: 10px;
}

.destacado1{
    background-color: white;
    padding: 10px;
    text-align: center;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin: 25px;
    font-family: 'Fugaz One', cursive;

}

/* IMAGENES  QUE SE MUEVEN*/

h2 {
    text-align: center;
    font-size: 2rem;
    padding-top: 50px;
}

.correrimg{
    display: flex;
    margin-right: 10%;
    margin-left: 10%;
    justify-content: center;
    align-items: center;
}


.slider-frame {
    overflow: hidden;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 2rem;
	width: 80%;
    height: auto;
	margin:50px auto 0;
	overflow: hidden;
    border: 30px #83abbc;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;

	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}

	25% {margin-left: -100%;}
	45% {margin-left: -100%;}

	50% {margin-left: -200%;}
	70% {margin-left: -200%;}

	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

h2{
    color: #764284;
    outline:  black;
    font-family: 'Fugaz One', cursive;

}


/* TARJETAS DE PRODUCTOS CARDS */

.produ{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 80px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2rem;
    justify-items: center;
    grid-template-rows: max-content;

}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    padding: 20px;   
    flex-direction: column;
    font-family: 'Fugaz One', cursive;
    text-align: center;
    width: 270px;
    height: 50px;
    justify-content: space-between;
    padding: 20px;

    

}

.cardimg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    min-width: 9rem;
}



.price {
    color: grey;
    font-size: 22px;
    font-family: 'Fugaz One', cursive;
}

.tituloprod{
    font-size: 1rem;
    text-align: center;
}


/*** ESTILOS BOTÓN GROW SKEW ***/

.botonescard{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;

}


.ov-btn-grow-skew {
    background: #5e2f6b;
    color: white; 
    border: 2px solid #5e2f6b; 
    padding: 10px;
    border-radius: 3px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: flex;
    text-decoration: none;
    margin: 5px;
    justify-content: center;
    align-items: center;
  }
  .ov-btn-grow-skew:hover {
    color: #5e2f6b;

  }
  .ov-btn-grow-skew::after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.3s ease;
  }
  .ov-btn-grow-skew:hover::after {
    transition: all 0.3s ease-out;
    transform: skewX(-45deg) scale(1, 1);

  }


/* COURAGE ADAMS VANS */

.Adamsimg1{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

.videobmx{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-left: 10%;
    margin-right: 10%;


}


/* GORRO DEMET */



.gorroDemet{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
    flex-direction: column;

}

.imggorrodemet{
    width: 16rem;
}

.textodemet{
    display: flex;
    font-size: 1em;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    padding: 0;
    min-width: 300px;
    max-width: 36rem;
}

.subgorro{
    font-size: 1.5rem;
    text-align: center;
}

/*PIE DE PAGINA*/

footer{
    background-color: #1b3039;
}

.FooterContainer{
    width: 100%;
    padding: 70px 30px 20px;
    margin-top: 20px;
}

.SocialIcons{
    display: flex;
    justify-content: center;

}

.SocialIcons a{
  text-decoration: none;
  background-color: white;
  margin: 10px;
  border-radius: 50px;
  padding: 12px;
  align-items: center;
  display: flex;
}

.SocialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.SocialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}

.SocialIcons a:hover i{
    color: white;
    transition: 0.5s;
}

.footernav{
    margin: 30px 0;

}

.footernav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;

}

.footernav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footernav ul li a:hover{
    opacity: 1;
}

.FooterBottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}

.FooterBottom a{
    color: white;
}

.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

/*MERCADO PAGO*/

.mercadopago{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
}

.img-mercadopago{
    display: flex;
    align-items: center;
    width: 80%;
    margin: 20px;
    margin-bottom: 30px;
    justify-content: center;


}

.div-mercadopago{
    display: flex;
    align-items: center;
    justify-content: center;


}


/* SUBITULOS */

.subtitulonike {
    display: flex;
    justify-content: center;
    font-family: 'Fugaz One', cursive;

}



.nocta {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-left: 10%;
    margin-right: 10%;
    
}

.imgnocta{
    display: flex;
    width: 50%;
    padding: 10px;
    margin: 10px;
}

/* NOCTA CHICO CANGURO GOLF */

.grid-container {
    display: grid;
    grid-template-columns: 50% 15%;
    gap: 10px;
    justify-content: center;
    align-items: stretch;
    margin-left: 7%;
    margin-right: 7%;
}

.column-a img {
    width: 100%;
    height: 100%;
    padding-bottom: 5px;
}

.column-b {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.secondary-image img {
    width: 100%;
    height: auto;
}

/* INFOR DE LA PAG */

.bienvenido{
    width: 70%;
    justify-content: center;
    align-items: center;
}

.informacion{
    display: flex;
    padding: 70px;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.infoh3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.informacion p{
    display: flex;
}

.Demetw{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}



/* MEDDIO DE PAGO INFO */

.imgtodoslospagos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;

    
}

.todoslospagos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}


/* PAGINA DE REGISTRO */

.containerR{
    width: 1fr;
    height: 900px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../Imagenes/zyro-image.png');
    background-position: auto;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;

}

.form-contentR{
    width: 100%;
    margin: 80%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    opacity: 95%;
    padding: 2rem;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-contentR h1{
    margin-bottom: 60px;
    color: white;
    position: relative;
    background: transparent;
    font-size: 50px;
    font-family: 'Fugaz One', cursive;

}

.form-contentR h1 ::after {
    content: '';
    width: 30px;
    border-radius: 3px;
    background: #764284;
    position: absolute;
    bottom: -12px;
    left: 50%;
}

.input-fieldR{
    margin: 15px ;
    border-radius: 3px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
}

.inputR{ 
    width: 100%;
    background-color: transparent;
    border: 0;
    outline: none;
    padding: 18px 15px;
    color: #fff;
}

.inputR::placeholder{
    color: white;
}

.input-fieldR i{
    margin-left: 15px;
    color: #764284;
}

.formR p{
    color: #fff;
    text-align: left;
    font-size: 13px;
}

.formR p a{
    color: #764284;
    margin-left: 5px;
}

.btn-fieldR{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.btn-fieldR button{
    flex-basis: 48%;
    font-size: 16px;
    background-color: #764284;
    color: white;
    height: 40px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    cursor: pointer;
    font-family: 'Fugaz One', cursive;

}

.input-groupR{
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    justify-content: space-around;
    
}




.btn-fieldR button.disable {
    background-color: white;
    color: #2c2f35;
}

.inputregistro{
    border-radius: 10px;
    padding: 10px;
    width: 270px;
}

.olvide {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    flex-direction: column;
    color: white;
}


.div.input-groupR{
    border-radius: 10px;
}

.formularioR {
    border-radius: 10px;
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
}

.formR{
    padding: 5px;
}

/* BOOOOOOOOOTS */

.accordion{
    width: 80%;
}

.BootA{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
}

/* MEDIAQUERYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY */

/* ESTILOS PARA MOVILES*/

@media only screen and (max-width: 876px) {
    .header{
        display: flex;
        flex-wrap: nowrap;
        height: 16rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header .logo{
        display: flex;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: nowrap;
        align-items: center;
    }
    
    .header   .nav-links{
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center; 
        margin: 0;
        padding: 0;
        gap: 8px;

    }

    .produ{
        grid-template-columns: repeat(2, 1fr);
        width: 1fr;
        height: 1fr;
        gap: 15px;
    }

    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logodeuna{
        display: flex;
        width: 10rem;
    }

    .logo img {
        height: 70px;
        transition: all 0.3s;
        justify-content: center;
        align-items: center;
        display: flex;}
    
    .produ{
        display: grid;
        justify-items: center;
            }


    .footernav ul{
        flex-direction: column;
        display: flex;
        align-content: center;
        align-items: center;  
        padding: 0;
      }

    .footernav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }

    .nocta {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .imgnocta {
        width: 80%;
}

    .grid-container{
        margin: 0;
    }
}


@media only screen and (max-width: 680px) {
    .produ{
    grid-template-columns: repeat(1, 1fr);
    display: grid;
    justify-items: center;
}
}

@media only screen and (max-width: 480px) {

    .nav-links{
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;    }

    .header{
        height: auto;
    }

    .SocialIcons{
        display: grid;
        justify-content: center;
        justify-items: center;
        grid-template-columns: 120px 120px;
    }

    .footernav{
        
    }


  }


  







  
