// COLORES DE LA WEB

$Color1: #1b3039;
$Color2: #000000;
$Color3: #764284;
$Color4: white;
$Color5: grey;

/*  VARIABLES CABECERA */

$header-height: 5rem;
$header-logo-height: 70px;
$header-logo-hover-scale: 1.2;
$header-link-hover-scale: 1.1;
$header-btn-hover-scale: 1.5;
$header-btn-font-weight: 700;
$header-btn-padding: 9px 25px;
$btn-border-radius: 50px;
$header-btn-transition: all 0.5s ease 0s;
$header-nav-link-padding: 0 20px;

/* VARIABLES PIE DE PAGINA */

$footer-padding: 70px 30px 20px;
$social-icon-size: 2em;
$social-icon-opacity: 0.9;
$footer-nav-margin: 30px;
$footer-nav-item-size: 1.3em;
$footer-nav-item-opacity: 0.7;
$footer-bottom-padding: 10px;
$MarginF: 10px;
$social-icon-padding: 12px;
$social-icon-font-size: 2em;
$social-icon-hover-transition: 0.5s;
$designer-opacity: 0.7;
$designer-text-transform: uppercase;
$designer-letter-spacing: 1px;
$designer-font-weight: 400;
$designer-margin: 0 5px;

// VARIABLES GENERALES

$font-size: 20px;
$font-family: 'Fugaz One', cursive;

* {
    margin: 0;
    padding: 0;
    font-size: $font-size; 
    font-family: $font-family; 
}

body {
    background-color: $Color4;
    padding: 0;
    margin: 0;
}

// CABECERA

.header {
  background-color: $Color1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $header-height;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-evenly;

  .logodeuna {
    cursor: pointer;
    margin-right: auto;
    display: block;
    margin: 0 auto;
  }

  .logodeuna {
    height: $header-logo-height;
    width: auto;
    transition: all 0.3s;
  }

  .logodeuna img:hover {
    transform: scale($header-logo-hover-scale);
  }

  .nav-links {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      padding: $header-nav-link-padding;

      a {
        font-size: 25px;
        color: $Color4;
        text-decoration: none;
        display: flex;

        &:hover {
          color: $Color3;
          transform: scale($header-link-hover-scale);
        }
      }
    }
  }

  .btn {
    button {
      margin-left: 20px;
      font-weight: $header-btn-font-weight;
      color: $Color1;
      padding: $header-btn-padding;
      background: $Color4;
      border: none;
      border-radius: $btn-border-radius;
      cursor: pointer;
      transition: $header-btn-transition;
      width: auto;
      margin: 0;

      &:hover {
        background-color: $Color4;
        color: $Color3;
        transform: scale($header-btn-hover-scale);
      }
    }
  }
}

// COSAS
.cabeza .nav-links li {
  display: block;
  padding: 10px 0;
  text-align: center;
  background-color: $Color2; 
}

.div .travis {
  width: auto;
  height: 10px;
}

.destacado1 {
  background-color: $Color4;
  padding: 10px;
  text-align: center;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin: 25px;
  font-family: $font-family;
}



// CARDS

.produ {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
  margin: 1rem 10%;
  justify-items: center;
  grid-template-rows: max-content;
}

.elemento {
  flex: 1 0 auto;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  font-family: $font-family;
  text-align: center;
  width: 270px;
  height: 500px;
  justify-content: space-between;
  padding: 15px;
  align-items: center;

  .cardimg {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 10rem;
      min-width: 9rem;
  }

  .price {
      color: $Color5;
      font-size: 22px;
      font-family: $font-family;
  }

  .tituloprod {
      font-size: 1rem;
      text-align: center;
  }
}

/*** ESTILOS BOTÓN GROW SKEW ***/

.botonescard {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: center;

  .ov-btn-grow-skew {
      background: $Color3;
      color: $Color4; 
      border: 2px solid $Color3; 
      padding: 10px;
      border-radius: 3px;
      position: relative;
      z-index: 1;
      overflow: hidden;
      display: flex;
      text-decoration: none;
      margin: 5px;
      justify-content: center;
      align-items: center;

      &:hover {
          color: $Color3;
      }

      &::after {
          content: "";
          background: white;
          position: absolute;
          z-index: -1;
          padding: 16px 20px;
          display: block;
          left: -20%;
          right: -20%;
          top: 0;
          bottom: 0;
          transform: skewX(-45deg) scale(0, 1);
          transition: all 0.3s ease;
      }

      &:hover::after {
          transition: all 0.3s ease-out;
          transform: skewX(-45deg) scale(1, 1);
      }
  }
}

/* PRODU DE 4 */

.produde4 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
  margin: 1rem 10%;
  justify-items: center;
  grid-template-rows: max-content;
}

// NOCTA NIKE GRID

.grid-container {
  display: grid;
  grid-template-columns: 50% 15%;
  gap: 10px;
  justify-content: center;
  align-items: stretch;
  margin: 2rem 7%;

  .secondary-image {
      padding: 0;
      margin: 0;
  }

  .column-a img {
      width: 100%;
      height: 100%;
  }

  .column-b {
      display: flex;
      gap: 10px;
      flex-direction: column;
      justify-content: space-between;
  }

  .secondary-image img {
      width: 100%;
      height: auto;
  }
}


// INFO DE LA PAGINA

.bienvenido {
  width: 70%;
  justify-content: center;
  align-items: center;
}

.informacion {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;

    p{
      display: flex;
      max-width: 40rem;
  }
}

.infoh3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.Demetw {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.pinfo {
  font-size: 1rem;
}

.imgtodoslospagos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.todoslospagos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

// MERCADO PAGO

.mercadopago {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;
}

.img-mercadopago {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 20px;
  margin-bottom: 30px;
  justify-content: center;
}

.div-mercadopago {
  display: flex;
  align-items: center;
  justify-content: center;
}

// REGISTRO

.containerR {
  width: 1fr;
  height: 900px;
  background-color: $Color4;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../Imagenes/zyro-image.png');
  background-position: auto;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 20px;
}

.form-contentR {
  width: 100%;
  margin: 80%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  opacity: 95%;
  padding: 2rem;
  text-align: center;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-contentR h1 {
  margin-bottom: 60px;
  color: $Color4;
  position: relative;
  background: transparent;
  font-size: 50px;
  font-family: $font-family;
}

.form-contentR h1::after {
  content: '';
  width: 30px;
  border-radius: 3px;
  background: $Color3;
  position: absolute;
  bottom: -12px;
  left: 50%;
}

.input-fieldR {
  margin: 15px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}

.inputR { 
  width: 100%;
  background-color: transparent;
  border: 0;
  outline: none;
  padding: 18px 15px;
  color: $Color4;
  &::placeholder {
      color: $Color4;
  }
}

.input-fieldR i {
  margin-left: 15px;
  color: $Color3;
}

.formR p {
  color: $Color4;
  text-align: left;
  font-size: 13px;
  a {
      color: $Color3;
      margin-left: 5px;
  }
}

.btn-fieldR {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}

.btn-fieldR button {
  flex-basis: 48%;
  font-size: 16px;
  background-color: $Color3; 
  color: $Color4;
  height: 40px;
  border-radius: 10px;
  border: 0;
  outline: 0;
  cursor: pointer;
  font-family: $font-family;
}

.input-groupR {
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
  justify-content: space-around;
}

.btn-fieldR button.disable {
  background-color: $Color4; 
  color: $Color2; 
}

.inputregistro {
  border-radius: 10px;
  padding: 10px;
  width: 270px;
}

.olvide {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  flex-direction: column;
  color: $Color4; 

}

// GORRO DEMET

.gorroDemet {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  align-items: center;
  flex-direction: column;
}

.imggorrodemet {
  width: 16rem;
}

.textodemet {
  display: flex;
  font-size: 1em;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  padding: 0;
  min-width: 300px;
  max-width: 36rem;
}

.subgorro {
  font-size: 1.5rem;
  text-align: center;
}



// NIKE NOCTA Y MAS

.divsubs {
  display: flex;
  justify-content: center;
  margin: 2rem 0 1rem;
}

.subtitulonike {
  display: flex;
  justify-content: center;
  font-family: $font-family;
  margin: 0;
  padding: 0;
}

.nocta {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

.imgnocta {
  display: flex;
  width: 50%;
  padding: 10px;
  margin: 10px;
}

// BMX

.Adamsimg1 {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  margin-bottom: 1rem;
}

.videobmx {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-left: 10%;
  margin-right: 10%;
}


/* PIE DE PAGINA */

.FooterBottom{
    background-color: $Color2;
    padding: $footer-bottom-padding;
    text-align: center;

    a{
        color: $Color4;
    }
}

$footer-margin: 30px;
$footer-link-margin: 20px;
$footer-link-opacity: 0.7;

.footernav {
  margin: $footer-margin 0;

  ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;

    li a {
      color: $Color4;
      margin: $footer-link-margin;
      text-decoration: none;
      font-size: 1.3em;
      opacity: $footer-link-opacity;
      transition: 0.5s;

      &:hover {
        opacity: 1;
      }
    }
  }
}



footer {
  background-color: $Color1;
  margin: 0;
  padding: 0;

  .FooterContainer {
    width: 100%;
    padding: $MarginF;
    margin-top: $MarginF;

    .SocialIcons {
      display: flex;
      justify-content: center;

      a {
        text-decoration: none;
        background-color: $Color4;
        margin: $MarginF
        ;
        border-radius: $btn-border-radius;
        padding: $social-icon-padding;
        align-items: center;
        display: flex;

        i {
          font-size: $social-icon-font-size;
          color: $Color2;
          opacity: 0.9;
        }

        &:hover {
          background-color: $Color2;
          transition: $social-icon-hover-transition;
        }

        &:hover i {
          color: $Color4;
          transition: $social-icon-hover-transition;
        }
      }
    }
  }

  .logofoot {
    display: flex;
    justify-content: center;
    margin: 1rem;
  }

  .designer {
    opacity: $designer-opacity;
    text-transform: $designer-text-transform;
    letter-spacing: $designer-letter-spacing;
    font-weight: $designer-font-weight;
    margin: $designer-margin;
  }
}

// IMAGEN QUE SE MUEVE
h2 {
  text-align: center;
  font-size: 2rem;
  padding-top: 50px;
  color: $Color3;
  outline: $Color2;
  font-family: 'Fugaz One', cursive;
}

.correrimg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-frame {
  overflow: hidden;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 2rem;
  width: 80%;
  height: auto;
  margin: 50px auto 0;
  overflow: hidden;
  border: 30px solid $Color4;
}

.slider-frame ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
  width: 100%;
  list-style: none;
}

.slider-frame img {
  width: 100%;
}

@keyframes slide {
  0% { margin-left: 0; }
  20% { margin-left: 0; }

  25% { margin-left: -100%; }
  45% { margin-left: -100%; }

  50% { margin-left: -200%; }
  70% { margin-left: -200%; }

  75% { margin-left: -300%; }
  100% { margin-left: -300%; }
}

/* MEDIA QUERIES */

/* Max width: 876px */
@media only screen and (max-width: 876px) {
    .header {
      display: flex;
      flex-wrap: nowrap;
      height: 16rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
      .logo {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: nowrap;
        align-items: center;
      }
    }
  
    .header .nav-links {
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      margin: 0;
      padding: 0;
      gap: 8px;
    }
  
    .logodeuna {
      display: flex;
      width: 10rem;
    }
  
    .logo img {
      height: 70px;
      transition: all 0.3s;
      justify-content: center;
      align-items: center;
      display: flex;
    }
  
    .footernav ul {
      flex-direction: column;
      display: flex;
      align-content: center;
      align-items: center;
      padding: 0;
    }
  
    .footernav ul li {
      width: 100%;
      text-align: center;
      margin: 10px;
    }
  
    .nocta {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
    }
  
    .imgnocta {
      width: 80%;
    }
  
    .grid-container {
      margin: 0;
    }
  }

  
  /* Max width: 480px */
  @media only screen and (max-width: 480px) {
    .nav-links {
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
    }
  
    .header {
      height: auto;
    }
  
    .SocialIcons {
      display: grid;
      justify-content: center;
      justify-items: center;
      grid-template-columns: 120px 120px;
    }
    
  }
  
/* CARRUSEL */

.carrusel {
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
  margin-top: 2rem;
  gap: 1rem;
  margin-left: 2%;
  margin-right: 2%;
}

.elemento {
  flex: 1 0 auto;
  margin: 0;
}

/* BOOOOOOOOOTS */

.accordion {
  width: 80%;
}

.BootA {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
}


/* ESTILOS PARA MOVILES */

@media only screen and (max-width: 876px) {
    .header {
        display: flex;
        flex-wrap: nowrap;
        height: 16rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header .logodeuna {
        display: flex;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: nowrap;
        align-items: center;
    }
    
    .header .nav-links {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center; 
        margin: 0;
        padding: 0;
        gap: 8px;
    }

    .logodeuna {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10rem;
    }

    .logodeuna img {
        height: 70px;
        transition: all 0.3s;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    
    .footernav ul {
        flex-direction: column;
        display: flex;
        align-content: center;
        align-items: center;
        padding: 0;
    }

    .footernav ul li {
        width: 100%;
        text-align: center;
        margin: 10px;
    }

    .nocta {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .imgnocta {
        width: 80%;
    }

    .grid-container {
        margin: 0;
    }

    .correrimg {
      display: flex;
      margin-right: 0;
      margin-left: 0;
      justify-content: center;
      align-items: center;
    }
}

@media only screen and (max-width: 480px) {
    .nav-links {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    .header {
        height: auto;
    }

    .SocialIcons {
        display: grid;
        justify-content: center;
        justify-items: center;
        grid-template-columns: 120px 120px;
    }

}

@media only screen and (max-width: 1370px) {
    .produ {
        display: flex;
        flex-wrap: nowrap;
        overflow: scroll;
        margin: 1rem;
    }

    .produde4 {
        display: grid;
        grid-template-columns: 15rem 15rem;
        justify-content: center;
        gap: 1rem;
    }
}

@media only screen and (max-width: 700px) {
    .produde4 {
        display: flex;
        flex-wrap: nowrap;
        overflow: scroll;
        margin: 1rem;
        justify-content: flex-start;
    }
  }
  
