// COLORES DE LA WEB

$Color1: #1b3039;
$Color2: #000000;
$Color3: #764284;
$Color4: white;
$Color5: grey;

/*  VARIABLES CABECERA */

$header-height: 5rem;
$header-logo-height: 70px;
$header-logo-hover-scale: 1.2;
$header-link-hover-scale: 1.1;
$header-btn-hover-scale: 1.5;
$header-btn-font-weight: 700;
$header-btn-padding: 9px 25px;
$btn-border-radius: 50px;
$header-btn-transition: all 0.5s ease 0s;
$header-nav-link-padding: 0 20px;

/* VARIABLES PIE DE PAGINA */

$footer-padding: 70px 30px 20px;
$social-icon-size: 2em;
$social-icon-opacity: 0.9;
$footer-nav-margin: 30px;
$footer-nav-item-size: 1.3em;
$footer-nav-item-opacity: 0.7;
$footer-bottom-padding: 10px;
$MarginF: 10px;
$social-icon-padding: 12px;
$social-icon-font-size: 2em;
$social-icon-hover-transition: 0.5s;
$designer-opacity: 0.7;
$designer-text-transform: uppercase;
$designer-letter-spacing: 1px;
$designer-font-weight: 400;
$designer-margin: 0 5px;

// VARIABLES GENERALES

$font-size: 20px;
$font-family: 'Fugaz One', cursive;