/* PIE DE PAGINA */

@use '../Variables/variables';


.FooterBottom{
    background-color: $Color2;
    padding: $footer-bottom-padding;
    text-align: center;

    a{
        color: $Color4;
    }
}

$footer-margin: 30px;
$footer-link-margin: 20px;
$footer-link-opacity: 0.7;

.footernav {
  margin: $footer-margin 0;

  ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;

    li a {
      color: $Color4;
      margin: $footer-link-margin;
      text-decoration: none;
      font-size: 1.3em;
      opacity: $footer-link-opacity;
      transition: 0.5s;

      &:hover {
        opacity: 1;
      }
    }
  }
}



footer {
  background-color: $Color1;
  margin: 0;
  padding: 0;

  .FooterContainer {
    width: 100%;
    padding: $MarginF;
    margin-top: $MarginF;

    .SocialIcons {
      display: flex;
      justify-content: center;

      a {
        text-decoration: none;
        background-color: $Color4;
        margin: $MarginF
        ;
        border-radius: $btn-border-radius;
        padding: $social-icon-padding;
        align-items: center;
        display: flex;

        i {
          font-size: $social-icon-font-size;
          color: $Color2;
          opacity: 0.9;
        }

        &:hover {
          background-color: $Color2;
          transition: $social-icon-hover-transition;
        }

        &:hover i {
          color: $Color4;
          transition: $social-icon-hover-transition;
        }
      }
    }
  }

  .logofoot {
    display: flex;
    justify-content: center;
    margin: 1rem;
  }

  .designer {
    opacity: $designer-opacity;
    text-transform: $designer-text-transform;
    letter-spacing: $designer-letter-spacing;
    font-weight: $designer-font-weight;
    margin: $designer-margin;
  }
}